@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: initial !important;
}

.header-bg {
  display: flex;
  color: transparent;
}

.header {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
}

.navbar {
  margin: 0 auto;
  width: 100% important;
  display: flex;
  justify-content: space-between;
  flex: 1;
  background-color: transparent !important;
}

#navbarNav {
  /*  display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  color: #292019 !important;
  text-decoration: none;
  margin-left: -10px;
  font-family: 'Abhaya Libre', sans-serif;
}
.nav-item a {
  font-size: 1rem;
  color: #292019 !important;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  text-transform: lowercase;
}
.nav-item {
  margin: 20px;
}

.nav-item a:hover {
  position: relative;
  top: 5px;
  text-decoration: underline 2px #292019;
  transition: linear 0.8s ease-in-out;
}

.home {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
}

.home-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.esq-texto {
  font-size: 4rem;
  font-family: 'Abhaya Libre', sans-serif;
  color: #292019;
  font-weight: 900;
  line-height: 0.7;
}
.esq-span {
  color: rgb(117, 115, 115);
}

.esq-btn {
  color: white;
  background-color: #b91122;
  border: initial;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  padding: 5px 0px;
  width: 50%;
  border-radius: 5px;
  border-color: transparent;
  margin-top: 35px;
}

.esq-span2 {
  color: rgb(117, 115, 115);
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  font-style: italic;
}

.home-centro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-direita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerpreco {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  background-color: #fff8e7;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
}

.containerpreco h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: rgb(131, 131, 131);
}
.containerpreco h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: rgb(131, 131, 131);
}
.containerpreco h2 {
  font-family: 'Abhaya Libre', sans-serif;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  font-weight: 900;
}
.containerpreco p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: rgb(59, 59, 59);
}

.home {
  background-image: url('./img/enfeite.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position-x: center;
}

@media screen and (max-width: 768px) {
  .home {
    padding: 10px;
  }
  .home-esquerda {
    order: 2;
  }
  .home-centro {
    order: 1;
  }
  .home-direita {
    order: 3;
  }
  .produtos {
    padding: 10px !important;
  }
  .lineprodutos {
    padding: 10px !important;
    margin: 10px 0px !important;
  }
  .lineprodutos .row {
    margin: 10px 0px !important;
  }
  .lineprodutos img {
    width: 70%;
  }
  .produtoln span {
    font-size: 0.7rem !important;
  }
  .produtoln h2 {
    font-size: 1.5rem !important;
  }

  .header {
    padding: 15px 20px;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
  .produtosrow {
    flex-direction: column-reverse !important;
  }
  .p-produtos {
    padding: 10px !important;
  }
  .p-produtos img,
  .home-centro img {
    width: 80%;
    align-self: center;
  }

  .esq-texto {
    font-size: 3rem;
  }
  .containerpreco h3,
  .containerpreco h4,
  .containerpreco h2,
  .containerpreco p {
    transform: scale(0.8);
  }
  .containerpreco {
    gap: 0px !important;
    padding: 0px;
  }
  .motivos {
    padding: 10px !important;
  }
  .motivos2 {
    display: none !important;
  }
  .motivos4 {
    padding: 10px !important;
  }
  .marcas {
    padding: 10px !important;
  }
  .marcas h3 {
    font-size: 1.5rem !important;
  }
  .marcasimg {
    width: 50% !important;
  }
  .questoes {
    padding: 10px !important;
  }
  .questoes h3 {
    font-size: 1.5rem !important;
  }
  .question {
    font-size: 1.2rem !important;
    padding: 5px !important;
  }
  .questao {
    font-size: 1.2rem !important;
    padding: 15px !important;
  }
  .faixa {
    padding: 10px !important;
  }
  .faixa span {
    display: none;
  }
  .faixa-centro {
    display: none !important;
  }
  .faixa-esquerda h4 {
    font-size: 1.2rem !important;
  }
  .faixa-direita button {
    font-size: 1rem !important;
  }
  .faixa-direita,
  .faixa-esquerda {
    padding: 20px !important;
  }
  .footer {
    padding: 10px !important;
  }
  .footer h6 {
    font-size: 1.5rem !important;
  }
  .footer-esquerda p {
    display: none;
  }
  .footer-centro p {
    font-size: 1rem !important;
  }
  .footer-direita {
    margin-top: 15px !important;
  }
  .footer-direita input:nth-child(2) {
    height: 10ch !important;
  }
}

/* //CONHEÇA NOSSOS PRODUTOS */
.produtos .row h1 {
  color: #292019;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15px;
}

.produtos {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
}

.p-produtos {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /*   margin: 0 auto; */
  margin: initial 0px;
}

.produtosrow {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap !important;
}

.produtosh1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #292019 !important;
  text-decoration: none;
  margin-left: -10px;
  font-family: 'Abhaya Libre', sans-serif;
}
.produtos-span {
  color: #72696a;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-produtos h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #292019 !important;
  text-decoration: none;
  margin-left: -10px;
  font-family: 'Abhaya Libre', sans-serif;
}
.p-produtos span {
  font-size: 0.8rem;
  color: #72696a !important;
  text-decoration: none;
  margin-left: -10px;
  font-family: 'Poppins', sans-serif;
}

.lineprodutos {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
  flex-wrap: wrap;
}

.produtoln {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produtoln h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #292019 !important;
  text-decoration: none;
  font-family: 'Abhaya Libre', sans-serif;
}

.produtoln span {
  font-size: 0.8rem;
  color: #72696a !important;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.iso {
  isolation: isolate !important;
}

.motivos {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
  flex-wrap: wrap;
  margin-top: 15px !important;
}

.motivos1 p {
  font-size: 1rem;
  color: #72696a !important;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 600;
}

.motivos1 h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #292019 !important;
  text-decoration: none;
  font-family: 'Abhaya Libre', sans-serif;
}

.motivos2 {
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}

.motivos3 {
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.motivos4 {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 1.5;
}

.motivos4 h5 {
  font-size: 1.5rem;
  color: #292019 !important;
  font-family: 'Abhaya Libre', sans-serif;
  font-weight: 600;
}

.motivos4 p {
  font-size: 1rem;
  color: #72696a !important;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.marcas {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
  flex-wrap: wrap;
  margin-top: 15px !important;
}

.marcas h3 {
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
  font-size: 2rem;
  font-family: 'poppins', sans-serif;
  color: #72696a !important;
}

.marcasimg {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.questoes {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
  flex-wrap: wrap;
  margin-top: 15px !important;
}

.questoes h3 {
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
  font-size: 4rem;
  font-family: 'Abhaya Libre', sans-serif;
  color: #292019 !important;
  font-weight: 900;
}
.questoes .p-5 p {
  font-size: 1.5rem;
  font-family: 'Abhaya Libre', sans-serif;
  color: #292019 !important;
  font-weight: 600;
}
.questoes .p-5 span {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #72696a !important;
}
.questoes .p-5 p::before {
  content: '➕';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.questoes .p-5 span {
  display: none;
  transition: all;
}
.active {
  display: block !important;
  transition: linear 0.5s;
}

.bg-faixa {
  background-color: #eeccb8;
}
.faixa {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
  flex-wrap: wrap;
  margin-top: 15px !important;
}

.faixa-esquerda {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px 0px 0px 5px;
}
.faixa-esquerda h4 {
  font-size: 2.5rem;
  font-family: 'Abhaya Libre', sans-serif;
  color: #00566b !important;
  font-weight: 600;
}

.faixa-esqueda span {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #72696a !important;
}

.faixa-centro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faixa-direita {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 5px 5px 0px;
}

.faixa-direita button {
  background-color: #00566b;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Abhaya Libre', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.footer-bg {
  background-color: #e5e5e5;
}

.footer {
  margin: 0 auto !important;
  max-width: 1440px;
  display: flex;
  width: 100%;
  padding: 39px 75px;
  flex-wrap: wrap;
  margin-top: 15px !important;
  color: black;
}

.footer-esquerda {
  display: flex;
  flex-direction: column;
}

.footer-esquerda p {
  font-size: 1rem;
  color: #72696a !important;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.footer-esquerda h6 {
  font-size: 2rem;
  font-family: 'Abhaya Libre', sans-serif;
  color: #000000 !important;
  font-weight: 600;
}

.footer-centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-centro p {
  font-size: 1rem;
  color: #72696a !important;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.social {
  display: flex;
  justify-content: space-around;
}
.social i {
  font-size: 2rem;
}

.footer-direita {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

.email-bg {
  padding: 15px;
  background-color: #292019;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.email-bg input {
  background-color: #ffffff00;
  border: #f8f8f800;
  padding: 15px;
  color: whitesmoke;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.email-bg input::target-text {
  color: #f32d2d;
}
.email-bg input::placeholder {
  color: #ffffff !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.email-bg button {
  background-color: #00566b;
  color: #ffffff;
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Abhaya Libre', sans-serif;
  font-weight: 600;
  cursor: pointer;
}
